In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/rj7shakya/python_ml/main/cleaned_imdb.csv")
df.iloc[0][2]

'James Cameron'

In [3]:
df.columns

Index(['Unnamed: 0', 'color', 'director_name', 'num_critic_for_reviews',
       'duration', 'director_facebook_likes', 'actor_3_facebook_likes',
       'actor_2_name', 'actor_1_facebook_likes', 'gross', 'genres',
       'actor_1_name', 'movie_title', 'num_voted_users',
       'cast_total_facebook_likes', 'actor_3_name', 'facenumber_in_poster',
       'plot_keywords', 'movie_imdb_link', 'num_user_for_reviews', 'language',
       'country', 'content_rating', 'budget', 'title_year',
       'actor_2_facebook_likes', 'imdb_score', 'aspect_ratio',
       'movie_facebook_likes'],
      dtype='object')

In [4]:
df=df.drop(columns=['Unnamed: 0'])
df

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.000000,178.0,0.0,855.0,Joel David Moore,1000.0,7.605058e+08,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.780000,33000
1,Color,Gore Verbinski,302.000000,169.0,563.0,1000.0,Orlando Bloom,40000.0,3.094042e+08,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.350000,0
2,Color,Sam Mendes,602.000000,148.0,0.0,161.0,Rory Kinnear,11000.0,2.000742e+08,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.350000,85000
3,Color,Christopher Nolan,813.000000,164.0,22000.0,23000.0,Christian Bale,27000.0,4.481306e+08,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.350000,164000
4,Color,Andrew Stanton,462.000000,132.0,475.0,530.0,Samantha Morton,640.0,7.305868e+07,Action|Adventure|Sci-Fi,...,738.0,English,USA,PG-13,263700000.0,2012.0,632.0,6.6,2.350000,24000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4549,Color,Neill Dela Llana,35.000000,80.0,0.0,0.0,Edgar Tancangco,0.0,7.007100e+04,Thriller,...,35.0,English,Philippines,Not Rated,7000.0,2005.0,0.0,6.3,1.841308,74
4550,Color,Robert Rodriguez,56.000000,81.0,0.0,6.0,Peter Marquardt,121.0,2.040920e+06,Action|Crime|Drama|Romance|Thriller,...,130.0,Spanish,USA,R,7000.0,1992.0,20.0,6.9,1.370000,0
4551,Color,Anthony Vallone,322.146105,84.0,2.0,2.0,John Considine,45.0,9.976776e+06,Crime|Drama,...,1.0,English,USA,PG-13,3250.0,2005.0,44.0,7.8,1.507071,4
4552,Color,Edward Burns,14.000000,95.0,0.0,133.0,Caitlin FitzGerald,296.0,4.584000e+03,Comedy|Drama,...,14.0,English,USA,Not Rated,9000.0,2011.0,205.0,6.4,2.508249,413
4553,Color,Jon Gunn,43.000000,90.0,16.0,16.0,Brian Herzlinger,86.0,8.522200e+04,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.850000,456

In [5]:
# df.loc[:]['director_name']
df.loc[1][:]

color                                                                    Color
director_name                                                   Gore Verbinski
num_critic_for_reviews                                                   302.0
duration                                                                 169.0
director_facebook_likes                                                  563.0
actor_3_facebook_likes                                                  1000.0
actor_2_name                                                     Orlando Bloom
actor_1_facebook_likes                                                 40000.0
gross                                                              309404152.0
genres                                                Action|Adventure|Fantasy
actor_1_name                                                       Johnny Depp
movie_title                          Pirates of the Caribbean: At World's End
num_voted_users                                                         471220
cast_total_facebook_likes                                                48350
actor_3_name                                                    Jack Davenport
facenumber_in_poster                                                       0.0
plot_keywords                goddess|marriage ceremony|marriage proposal|pi...
movie_imdb_link              http://www.imdb.com/title/tt0449088/?ref_=fn_t...
num_user_for_reviews                                                    1238.0
language                                                               English
country                                                                    USA
content_rating                                                           PG-13
budget                                                             300000000.0
title_year                                                              2007.0
actor_2_facebook_likes                                                  5000.0
imdb_score                                                                 7.1
aspect_ratio                                                              2.35
movie_facebook_likes                                                         0
Name: 1, dtype: object

In [6]:
df.loc[0:5][['movie_title','budget','imdb_score']]

                                 movie_title       budget  imdb_score
0                                    Avatar   237000000.0         7.9
1  Pirates of the Caribbean: At World's End   300000000.0         7.1
2                                   Spectre   245000000.0         6.8
3                     The Dark Knight Rises   250000000.0         8.5
4                               John Carter   263700000.0         6.6
5                              Spider-Man 3   258000000.0         6.2

In [7]:
df

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.000000,178.0,0.0,855.0,Joel David Moore,1000.0,7.605058e+08,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.780000,33000
1,Color,Gore Verbinski,302.000000,169.0,563.0,1000.0,Orlando Bloom,40000.0,3.094042e+08,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.350000,0
2,Color,Sam Mendes,602.000000,148.0,0.0,161.0,Rory Kinnear,11000.0,2.000742e+08,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.350000,85000
3,Color,Christopher Nolan,813.000000,164.0,22000.0,23000.0,Christian Bale,27000.0,4.481306e+08,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.350000,164000
4,Color,Andrew Stanton,462.000000,132.0,475.0,530.0,Samantha Morton,640.0,7.305868e+07,Action|Adventure|Sci-Fi,...,738.0,English,USA,PG-13,263700000.0,2012.0,632.0,6.6,2.350000,24000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4549,Color,Neill Dela Llana,35.000000,80.0,0.0,0.0,Edgar Tancangco,0.0,7.007100e+04,Thriller,...,35.0,English,Philippines,Not Rated,7000.0,2005.0,0.0,6.3,1.841308,74
4550,Color,Robert Rodriguez,56.000000,81.0,0.0,6.0,Peter Marquardt,121.0,2.040920e+06,Action|Crime|Drama|Romance|Thriller,...,130.0,Spanish,USA,R,7000.0,1992.0,20.0,6.9,1.370000,0
4551,Color,Anthony Vallone,322.146105,84.0,2.0,2.0,John Considine,45.0,9.976776e+06,Crime|Drama,...,1.0,English,USA,PG-13,3250.0,2005.0,44.0,7.8,1.507071,4
4552,Color,Edward Burns,14.000000,95.0,0.0,133.0,Caitlin FitzGerald,296.0,4.584000e+03,Comedy|Drama,...,14.0,English,USA,Not Rated,9000.0,2011.0,205.0,6.4,2.508249,413
4553,Color,Jon Gunn,43.000000,90.0,16.0,16.0,Brian Herzlinger,86.0,8.522200e+04,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.850000,456

In [8]:
df.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,Color,Andrew Stanton,462.0,132.0,475.0,530.0,Samantha Morton,640.0,73058679.0,Action|Adventure|Sci-Fi,...,738.0,English,USA,PG-13,263700000.0,2012.0,632.0,6.6,2.35,24000

In [9]:
df=df.drop(columns=['Unnamed: 0'])
df

KeyError: "['Unnamed: 0'] not found in axis"

In [ ]:
df.iloc[0][1]

'James Cameron'

In [ ]:
index = df.columns.get_loc('director_name')
print(index)
df.iloc[:index]

1

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000

In [ ]:
df.sort_values(by=['imdb_score'],ascending=False).head(n=10).loc[:][['movie_title','imdb_score','title_year']]
# df.sort_values(by=['budget']).head().loc[:]['budget']

                                         movie_title  imdb_score  title_year
1864                       The Shawshank Redemption          9.3      1994.0
3293                                  The Godfather          9.2      1972.0
2714                         The Godfather: Part II          9.0      1974.0
65                                  The Dark Knight          9.0      2008.0
4416                                   12 Angry Men          8.9      1957.0
3197                                   Pulp Fiction          8.9      1994.0
327   The Lord of the Rings: The Return of the King          8.9      2003.0
4177                 The Good, the Bad and the Ugly          8.9      1966.0
1803                               Schindler's List          8.9      1993.0
96                                        Inception          8.8      2010.0

In [ ]:
# val=df.dropna(inplace=True)
# val

In [ ]:
df.groupby(['title_year'])['imdb_score','movie_title','budget'].max()

C:\Users\Abhinav\AppData\Local\Temp\ipykernel_19696\522994593.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby(['title_year'])['imdb_score','movie_title','budget'].max()

,imdb_score,movie_title,budget
title_year,,,
1916.0,8.0,Intolerance: Love's Struggle Throughout the Ages,3.859070e+05
1925.0,8.3,The Big Parade,2.450000e+05
1927.0,8.3,Metropolis,6.000000e+06
1929.0,8.0,The Broadway Melody,1.286759e+08
1930.0,7.8,Hell's Angels,3.950000e+06
...,...,...,...
2012.0,8.5,Zero Dark Thirty,6.758157e+08
2013.0,8.4,Zulu,2.250000e+08
2014.0,8.7,X-Men: Days of Future Past,3.065987e+08
2015.0,8.3,Zipper,2.864922e+08
2016.0,8.2,Zoolander 2,2.500000e+08

In [ ]:
df.loc[1][movie_title]
df

NameError: name 'df' is not defined